@charset "utf-8";
/* CSS Document */


/*
z-index:

文章图片：默认
菜单：100
slide
小屏幕菜单：1000
页脚：100
侧栏：99
返回顶部：900
管理：2000
*/
/* 公共元素 */
* {
	margin: 0px;
	padding: 0px;
}
ul li {
	list-style: none;
}
body {
	color: #444;
	font-family: "微软雅黑";
}
/*  */
.clearfix, .clear {
	clear: both;
}
h1, 
h2, 
h3, 
h4,
h5 {
	font-weight: normal;
}
.wrap {
	overflow: hidden;
}
/* 鼠标选择文字的样式 */
*::selection {	/* webkit, opera, IE9 */
	color: #fff;
	background: #16a085;
}
*::-moz-selection {	/* mozilla firefox */
	color: #fff;
	background: #16a085;
}
/* 滚动条样式 */
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	background: #e9e9e9;
}
::-webkit-scrollbar-thumb {
	background: #01d5ac;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}
/* 页面框架 */
.header {
	height: 100px;
	color: #fff;
	background-size: 100px 220px;
}
.header-box,
.footer-box {
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;
}
.content {
	clear: both;
}
.content-main {
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;
	padding-bottom: 20px;
	overflow: hidden;
	box-sizing: border-box;
}
.navbar-box {
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;
}
.side {
	width: 30%;
	float: left;
	padding-left: 1%;
	box-sizing: border-box;
}

/* 头部 */
#loading {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 2px;
}
#loading div {
	height: 2px;
	background: #f90;
}
.header .admin {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 2000;
}
.header .blog-info {
	margin-left: 50px;
	padding: 1px;
	padding-top: 20px;
}
.header .blog-name {
	font-size: 40px;
	font-family: "楷体", "微软雅黑";
}
.header .blog-descption {
	margin-left: 10px;
	margin-top: 20px;
	font-size: 20px;
	font-family: "楷体", "微软雅黑";
}

/* 手打效果 */
@keyframes typing {
from {
	width: 0;
}
}
@keyframes blink-caret {
50% {
	border-color: transparent;
}
}
@-moz-keyframes typing {
from {
	width: 0;
}
}
@-moz-keyframes blink-caret {
50% {
	border-color: transparent;
}
}
@-webkit-keyframes typing {
from {
	width: 0;
}
}
@-webkit-keyframes blink-caret {
50% {
	border-color: transparent;
}
}
.type {
	display: inline-block;
	border-right: .1em solid;
	width: 180px;
	height: 22px;
	line-height: 22px;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 9s steps(9, end), /* # of steps = # of chars */  blink-caret 1s step-end infinite alternate;
	-moz-animation: typing 9s steps(9, end), /* # of steps = # of chars */  blink-caret 1s step-end infinite alternate;
	-webkit-animation: typing 9s steps(9, end), /* # of steps = # of chars */  blink-caret 1s step-end infinite alternate;
}
/* 网站主体 */

/*  */
.main {
	width: 70%;
	min-height: 350px;
	float: left;
	box-sizing: border-box;
}

/* 侧栏 */
.side-item {
	position: relative;
	z-index: 0;
	width: 100%;
	margin-top: 10px;
	background: #fff;
}
.side-item-title {
	height: 45px;
	color: #75b5e0;
	font-size: 20px;
	text-align: center;
	line-height: 45px;
	border-top: #75b5e0 solid 1px;
}
.side-item-content, .side-item ul {
	padding: 15px;
}
.side-item2 { /* 无padding */
	position: relative;
	margin-top: 10px;
	background: #fff;
}
.side-item ul li {
	padding-top: 5px;
	padding-bottom: 5px;
}
.side-item2-content li {
	margin-top: 5px;
	margin-bottom: 5px;
}
.side-item2-content a {
	color: #333;
}
.side-item2-content a:hover {
	color: #09f;
}
/* 作者简介 */
.author-img {
	width: 100%;
	height: 220px;
}
.author-desc {
	padding: 10px;
	line-height: 35px;
}
.author-desc:first-letter {
    color: #666;
    font-size: 22px;
}
/* 侧栏-标签云 */
.widget_tag_cloud {
}
.tagcloud {
	padding: 10px;
}
.tagcloud a {
	margin-top: 5px;
	padding-right: 5px;
}
/* 侧栏-社交图标 */
.widget-about .image-icon {
	position: relative;
	top: 15px;
	margin-bottom: 5px;
	padding: 1px 0 0 2px;
	width: 45px;
	height: 45px;
	border-radius: 5px;	
}
.widget-about i {
	display: inline-block;
	width: 45px;
	height: 45px;
	margin-bottom: 5px;
	padding: 1px 0 0 2px;
	color: #fff;
	font-size: 35px;
	text-align: center;
	line-height: 45px;
	border-radius: 5px;
}
.widget-about .weixin {
	background: #6fc299;
}
.widget-about .email {
	background: #eca3ac;
}
.widget-about .qq {
	background: #f78585;
}
.widget-about .rss {
	background: #ff7c49;
}
.widget-about .baidu {
	background: #636363;
}
.widget-about .sina-weibo {
	background: #f78585;
}
.widget-about .tencent-weibo {
	background: #27ccc0;
}
.widget-about .github {
	background: #80c269;
}
.widget-about .facebook {
	background: #3b5b98;
}

/* 侧栏-搜索框 */
.widget_search {
}
#s {
	display: inline-block;
	width: 70%;
	height: 50px;
	padding-left: 30px;
	color: #09f;
	font-size: 18px;
	vertical-align: top;
	background: #fff url(../images/search_bg.jpg) no-repeat 5px center;
	border: #09f solid 1px;
	box-sizing: border-box;
	outline: none;
}
#searchsubmit {
	display: inline-block;
	width: 30%;
	height: 50px;
	margin-left: -6px;
	color: #fff;
	font-size: 25px;
	background: #73bef0;
	vertical-align: top;
	border: #73bef0 solid 1px;
	box-sizing: border-box;
}
#searchsubmit:hover {
	cursor: pointer;
}
/* 侧栏-日历 */
#wp-calendar {
	width: 100%;
}
#calendar_wrap {
	padding: 10px;
}
.widget_calendar table {
	border-collapse: collapse;
}
.widget_calendar table caption {
	padding: 10px 0 5px;
	font-size: 18px;
}
.widget_calendar table thead th {
	background-color: #fbfbfb;
}
.widget_calendar table td, 
.widget_calendar table thead th {
	padding: 5px 3px;
	border: #eee solid 1px;
}
.widget_calendar table #prev {
	padding-left: 5px;
	text-align: left;
}
.widget_calendar table #next {
	padding-right: 5px;
	text-align: right;
}

/* 侧栏-仓鼠挂件 */
.hamster-text {
	color: #999;
	text-align: center;
}
/* 侧栏-公告 */
.widget-notice {}
.widget-notice .notice-title {}
.widget-notice .notice-content {
	margin-top: 5px;
}
/* 页脚 */
.footer {
	position: absolute;
	width: 100%;
	height: 100px;
	background: #4a4a4a;
	z-index: 100;
}
.footer .copyright {
	padding-top: 20px;
	color: #fff;
	text-align: center;
}

/* 返回顶部按钮 */
.to-top {
	display: inline-block;
	position: fixed;
	bottom: 40px;
	right: 10px;
	z-index: 900;
    width: 40px;
    text-align: center;
	opacity: .5;
	transition: all .3s;
    border-radius: 20px;
}
.to-top:hover {
    -webkit-animation: btn-pudding 1s linear;
    -moz-animation: btn-pudding 1s linear;
    animation: btn-pudding 1s linear;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
}
.to-top .fa {
    display: inline-block;
    height: 40px;
    color: #fff;
    font-size: 30px;
	text-align: center;
    line-height: 40px;
}

@-webkit-keyframes btn-pudding{0%{-webkit-transform:scale(1.2,0.8)}1%{-webkit-transform:scale(1.18,0.82)}2%{-webkit-transform:scale(1.16,0.84)}3%{-webkit-transform:scale(1.13,0.87)}4%{-webkit-transform:scale(1.1,0.9)}5%{-webkit-transform:scale(1.07,0.93)}6%{-webkit-transform:scale(1.04,0.96)}7%{-webkit-transform:scale(1.01,0.99)}8%{-webkit-transform:scale(0.99,1.01)}9%{-webkit-transform:scale(0.97,1.03)}10%{-webkit-transform:scale(0.95,1.05)}11%{-webkit-transform:scale(0.94,1.06)}12%{-webkit-transform:scale(0.93,1.07)}13%{-webkit-transform:scale(0.93,1.07)}14%{-webkit-transform:scale(0.93,1.07)}15%{-webkit-transform:scale(0.93,1.07)}16%{-webkit-transform:scale(0.94,1.06)}17%{-webkit-transform:scale(0.94,1.06)}18%{-webkit-transform:scale(0.95,1.05)}19%{-webkit-transform:scale(0.96,1.04)}20%{-webkit-transform:scale(0.98,1.02)}21%{-webkit-transform:scale(0.99,1.01)}22%{-webkit-transform:scale(1,1)}23%{-webkit-transform:scale(1,1)}24%{-webkit-transform:scale(1.01,0.99)}25%{-webkit-transform:scale(1.02,0.98)}26%{-webkit-transform:scale(1.02,0.98)}27%{-webkit-transform:scale(1.02,0.98)}28%{-webkit-transform:scale(1.03,0.97)}29%{-webkit-transform:scale(1.03,0.97)}30%{-webkit-transform:scale(1.02,0.98)}31%{-webkit-transform:scale(1.02,0.98)}32%{-webkit-transform:scale(1.02,0.98)}33%{-webkit-transform:scale(1.02,0.98)}34%{-webkit-transform:scale(1.01,0.99)}35%{-webkit-transform:scale(1.01,0.99)}36%{-webkit-transform:scale(1.01,0.99)}37%{-webkit-transform:scale(1,1)}38%{-webkit-transform:scale(1,1)}39%{-webkit-transform:scale(1,1)}40%{-webkit-transform:scale(0.99,1.01)}41%{-webkit-transform:scale(0.99,1.01)}42%{-webkit-transform:scale(0.99,1.01)}43%{-webkit-transform:scale(0.99,1.01)}44%{-webkit-transform:scale(0.99,1.01)}45%{-webkit-transform:scale(0.99,1.01)}46%{-webkit-transform:scale(0.99,1.01)}47%{-webkit-transform:scale(0.99,1.01)}48%{-webkit-transform:scale(0.99,1.01)}49%{-webkit-transform:scale(1,1)}}

/* 公告 */
.notice {
	padding: 10px 20px;
	background: #fff;
	overflow: auto;
}
.notice .fa-volume-up {
	float: left;
	height: 25px;
	line-height: 25px;
}
.notice .notice-list {
	height: 25px;
	margin-left: 10px;
	line-height: 25px;
	overflow: hidden;
	float: left;
}

/* 当屏幕宽度大于800时的样式 */
@media only screen and (min-width: 800px) {
	/* 导航栏 */
	.navbar {
		z-index: 100;
		width: 100%;
		height: 50px;
		box-sizing: border-box;
	}
	.menu-button {
		float: right;
		visibility: hidden;
	}
	.menu {
	}

	.menu .fa {
		padding-right: 5px;
		color: #999;
	}
	.menu > .menu-item {
		float: left;
		margin: 0 1px;
	}
	.menu > .menu-item .fa {
		color: #fff;
		font-size: 16px;
	}
	.menu > .menu-item a {
		display: block;
		position: relative;
		top: -2px;
		height: 50px;
		padding: 0 30px;
		color: #fff;
		line-height: 50px;
	}
	.current-menu-item a {
		border-bottom: #fff solid 2px;
	}
	.menu > .menu-item > a:hover {
		
		border-bottom: #fff solid 2px;
	}
	.sub-menu {
		display: none;
		position: relative;
		width: 0;
		height: 0;
		z-index: 100;
	}
	.menu > .menu-item:hover .sub-menu {
		display: block;
	}
	.sub-menu .menu-item {
		width: 200px;
		height: 45px;
		transform: rotateY(0deg);
		transition: opacity .4s, transform .5s;
	}
	.sub-menu .menu-item a {
		display: block;
		width: 150px;
		height: 45px;
		padding-left: 20px;
		color: #FFF;
		text-align: left;
		line-height: 45px;
		transition: all 0.5s;
	}
	.sub-menu .menu-item a:hover {
	}
}
/* 当屏幕宽度小于800时的样式，隐藏侧栏，更改菜单样式 */
@media only screen and (max-width: 800px) {
	/* 头部 */
	.header {
		height: 150px !important;
	}
	.header .blog-info {
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.header .blog-name {
		font-size: 30px;
		text-align: center;
		line-height: 100px;
		margin: 0 auto;
	}
	.header .blog-descption {
		display: none;
	}
	
	/* 导航栏 */
	.nav {
		width: 100%;
		background: #4a4a4a;
		border-bottom: #e1e1e1 solid 1px;
	}
	.menu-button {
		position: absolute;
		left: 10px;
		top: 10px;
		padding: 10px;
	}
	.fa-list {
		color: #FFF;
		font-size: 25px;
	}
	/*  */
	.main {
		width: 100%;
	}
	.side {
		display: none;
		width: 0;
	}
	/* 导航栏 */
	.mask {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		width: 100%;
		background: rgba(0, 0, 0, 0.6);
		z-index: 200;
		transition: all 0.5s;
	}
	.menu {
		position: fixed;
		top: 0;
		right: -70%;
		bottom: 0;
		z-index: 10000;
		width: 50%;
		min-width: 200px;
		padding-top: 20px;
		background: #fff url(../images/monkey.png) no-repeat top right;
		background-size: 100px 200px;
		transition: all 0.5s;
	}
	.menu-item a,  
	.sub-menu-item a {
		display: block;
		padding: 5px 10px;
		color: #6c6969;
		text-align: left;
	}
	.menu-item-a:hover {
		color: #fff;
	}
	.sub-menu {
		margin-left: 20px;
	}
	/* banner */
	.flexslider {
		margin-top: 0px;
	}
	/*  */
	.content-main {
		padding-bottom: 0;
	}
	/* 页码 */

}
@media only screen and (max-width: 401px) {
	.main {
		width: 100%;
		min-width: 100%;
	}
	.side {
		display: none;
		width: 0;
	}
	/* 头部 */
	.header .blog-name {
		
	}
}
/* tag页面 */
.archive-header {
	margin-top: 10px;
	padding: 10px;
	background: #fff;
	overflow: auto;
}
.fa-folder-open {
	font-size: 30px;
}
.archive-name {
	margin-left: 10px;
	color: #7a6f6f;
	font-size: 30px;
}
/* 分类页面 */
.cat-header {
	margin-top: 10px;
	padding: 10px;
	background: #fff;
	overflow: auto;
}
.cat-name {
	color: #7a6f6f;
	font-size: 30px;
}
.cat-desc {
}
.cat-img {
	width: 300px;
	height: 200px;
	
}
@media only screen and (min-width: 800px) {
	.cat-img-box {
		float: left;
		margin-left: 10px;
		margin-top: 5px;
		border: #ddd solid 1px;
	}
	.cat-info {
		float: left;
		margin-left: 10px;
	}
}
@media only screen and (max-width: 800px) {
	.cat-info {
		float: left;
	}
}
@media only screen and (min-width: 1250px) {
	.header .blog-info {
		margin-left: 0;
	}
}
/* 分类页面-子分类 */
.sub-cat {
	color: #999;
}
.sub-cat .cat {
	float: left;	
	margin-top: 10px;
}
.sub-cat .cat a {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 5px 10px;
	color: #fff;
}
.sub-cat .cat:nth-child(5n) a {
	background-color: #4a4a4a;
}
.sub-cat .cat:nth-child(5n+1) a {
	background-color: #428bca;
}
.sub-cat .cat:nth-child(5n+2) a {
	background-color: #5cb85c;
}
.sub-cat .cat:nth-child(5n+3) a {
	background-color: #d9534f;
}
.sub-cat .cat:nth-child(5n+4) a {
	background-color: #f0ad4e;
}

/* 底部文章随机推荐 */
.bottom-recommend {
	position: fixed;
	bottom: 0;
	background: #000;
	width: 100%;
	height: 23px;
	line-height: 23px;
	z-index: 9999;
	opacity: .6;
	box-shadow: 10px 0 5px #000;
}
.bottom-recommend a {
	color: #fff;
	letter-spacing: 2px;
}
.bottom-recommend .wp_close a {
	float: right;
	margin: 0 10px 0 0;
}
.bottom-recommend .bulletin {
	height: 23px;
	color: #fff;
	margin: 0 0 0 20px;
	background: url(./images/bulletin.gif) no-repeat;
	min-height: 23px;
	overflow: hidden
}
.bottom-recommend .bulletin a {
	float: left
}
.bottom-recommend .bulletin li {
	height: 23px;
	padding-left: 25px
}

/* 右侧跟随浮动 */
.fix-bottom {
	position: fixed;
	z-index: 99;
	bottom: 0;
}
#red {
	position: fixed;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	background: #f00;
}

/* 3D标签云 */
#tag_cloud-2 {
    position:relative;
    height:340px;
    margin: 10px auto 0;
}
#tag_cloud-2 a {
    position:absolute;
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 0px;
    left: 0px;
    padding: 3px 5px;
    border: none;
}
#tag_cloud-2 a:hover {
    background: #d02f53;
    display: block;
}
#tag_cloud-2 a:nth-child(n) {
    background: #666;
    border-radius: 3px;
    display: inline-block;
    line-height: 18px;
    margin: 0 10px 15px 0;
}
#tag_cloud-2 a:nth-child(2n) {
    background: #d1a601;
}
#tag_cloud-2 a:nth-child(3n) {
    background: #286c4a;
}
#tag_cloud-2 a:nth-child(5n) {
    background: #518ab2;
}
#tag_cloud-2 a:nth-child(4n) {
    background: #c91d13;
}

/* 表情大小 */
.wp-smiley {
	width: 30px !important;
	max-width: 30px !important;
	height: 30px !important;
	max-height: 30px !important;
}