@charset "utf-8";
/* CSS Document */

/* 网站主体 */
a {
	color: #00a67c;}
a:hover {
	color: #777;}
/* banner */
.banner {
	height: 400px;
	margin-bottom: 20px;
	padding: 10px;
	background: #fff;
	border: #e1e1e1 solid 1px;
	border-radius: 5px;}
.banner img {
	display: block;
	width: 100%;
	height: 100%;}
/*  */
.product-list {
	padding: 10px;
	background: #fff;
	border: #e1e1e1 solid 1px;
	border-radius: 5px;
	overflow: auto;}
.product-item {
	float: left;
	width: 33.3%;
	height: 220px;
	overflow: auto;
	border: #f1f1f1 solid 1px;
	box-sizing: border-box;}
.product-image {
	display: block;
	float: left;
	width: 100%;
	height: 150px;}
.product-title {
	height: 50px;
	color: #09f;
	font-size: 20px;
	line-height: 50px;}
.product-title:hover {
	text-decoration: underline;}
.product-price {
	height: 20px;
	color: #FFF;
	background: #333;}
/*  */
.top-tag {
	display: inline-block;
	width: 35px;
	height: 20px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	background: #F60;
	border-radius: 5px;}
/* 页码 */
.page {
	margin-top: 20px;
	background: #FFF;
	border: #e1e1e1 solid 1px;
	border-radius: 5px;
	padding: 10px;}
.page .page-numbers {
	display: inline-block;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 30px;
	border: #e1e1e1 solid 1px;}
.page .page-numbers:hover {
	background: #e1e1e1;}
.page .current {
	background: #e1e1e1;}
@media only screen and (max-width: 1000px) {
    .dandelion {
		display: none;}
}
@media only screen and (max-width: 970px) {
	.post-image {
		display: none;}
}
@media only screen and (max-width: 650px) {
	.main {
		width: 100%;
		min-width: 100%;}
    .side {
		display: none;
		width: 0;}
}