/* 
 * 主题配色方案 2 
 */

.theme-color {
	color: #d0ab65;
}
.theme-color2 {
	color: #6c6969;
}
.theme-color-bg {
	background: #d0ab65;
}
.theme-color2-bg {
	background: #6c6969;
}
.theme-body {
	background: #eee url(../img/body_bg4.jpg);
}
.theme-header {
	height: 250px;
	color: #c19646;
	background: #d0ab65 url(../img/header-bg2.jpg);
	background-attachment: fixed;
	background-size: 100% 100%;
}
.theme-nav {
	background: #d0ab65;
}
.theme-footer {
	background: #6c6969;
}
a {
	color: #d0ab65;
	text-decoration: none;
}
a:hover {
	color: #777;
}
.sub-menu .menu-item a {
	background: #6c6969;
	filter:alpha(opacity=95); 
	opacity: 0.95;  
	-moz-opacity:0.95;  
	-khtml-opacity: 0.95;  
}
.sub-menu .menu-item a:hover {
	color: #fff;
	background: #d0ab65;
	filter:alpha(opacity=100); 
	opacity: 1;  
	-moz-opacity: 1;  
	-khtml-opacity: 1; 
}
.theme-post-content h2 {
	color: #d0ab65;
}
.theme-post-content h3 {
	color: #d0ab65;
}
@media only screen and (max-width: 800px) {
.sub-menu .menu-item a {
	background: none;
}
}
@media only screen and (max-width: 400px) {
.theme-header {
	color: #fff;
	background-image: none;
	height: 100px;
}
.theme-header a {
	color: #fff;
}
}
.content-main {
	width: 100%;
	max-width: 1250px;
}