@charset "utf-8";
/* CSS Document */

.big-title {
	margin-top: 10px;
	padding: 10px;
	color: #fff;
	background: #73bef0;
}
/* 网站主体 */
/* 面包屑导航 */
.crumb {
	margin-top: 10px;
	padding: 10px;
	background: #fff;
}
/* 文章内容部分 */
.post-content p {
	padding: 8px 0;
	line-height: 25px;
}
.post-content h2 {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 15px;
	padding-bottom: 5px;
	font-size: 25px;
	border-bottom: #aad0ea solid 1px;
}
.post-content h3 {
	font-size: 22px;
}
.post-content .h4 {
	font-size: 20px;
}
.post-content ul,
.post-content ol {
	padding: 10px 0;
}
.post-content ul li {
	margin-left: 20px;
	padding: 4px 0;
	list-style-type: circle;
}
.post-content ol li {
	margin-left: 20px;
	padding: 4px 0;
	list-style-type: decimal;
}

/* 文章部分-下载按钮 */
.fa-cloud-download, .fa-external-link {
	color: #fff;
}
.download-button {
	border: 2px solid white;
	border-radius: 2px;
	margin: 10px 5px 20px 25px;
	box-shadow: 0 0 0 1px #EEE;
	color: #fff;
	display: inline-block;
	text-align: center;
	padding: 8px 16px;
	cursor: pointer;
	vertical-align: text-bottom;
	background: #5fbaac;
	text-indent: 0;
}
/* 文章部分-目录 */
#post-catalog {
	float: right;
	width: 150px;
	margin: 0;
	padding: 10px;
	background: #f8f8f8;
	border: #ddd solid 1px;
}
#post-catalog .catalog-title {}
#post-catalog .catalog-cntent {
	margin: 0;
	padding: 0;
}
#post-catalog li {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* 文章部分-表格 */
.post table {
	border-top: solid 1px #ddd;
	border-left: solid 1px #ddd;
	width: 100%;
	margin-bottom: 16px;
	text-indent: 0;
}
.post th, .post td {
	border-bottom: solid 1px #ddd;
	border-right: solid 1px #ddd;
	padding: 5px 10px;
}
/*  */
.post {
	margin-top: 10px;
	padding: 15px;
	background: #FFF url(../images/monkey.png) no-repeat right top;
}
.post-title {
	font-size: 30px;
}
.post-info {
	margin-top: 10px;
	color: #aaa;
}
.post-info .fa {
	color: #bbb;
}
.post-author {
}
.post-time {
	margin-left: 10px;
}
.post-tags {
	margin-left: 10px;
}
.post-tags a {
	color: #FFF;
	margin-right: 10px;
	padding: 2px 10px;
}
.post-tags a:nth-child(5n) {
	background-color: #4a4a4a;
}
.post-tags a:nth-child(5n+1) {
	background-color: #428bca;
}
.post-tags a:nth-child(5n+2) {
	background-color: #5cb85c;
}
.post-tags a:nth-child(5n+3) {
	background-color: #d9534f;
}
.post-tags a:nth-child(5n+4) {
	background-color: #f0ad4e;
}
.post-content {
	margin-top: 10px;
}
.alignnone {
	border: #e1e1e1 solid 1px;
}
/* 转载协议 */
.protocol {
	margin-top: 20px;
	padding: 10px;
	color: #999;
	line-height: 25px;
	background: #f9f9f9;
	border: #eee solid 1px;
	border-radius: 2px;
}

/* 点赞 */
.post-like {
	text-align: center;
	padding: 10px;
}
.post-like a {
	background-color: #21759B;
	border-radius: 3px;
	color: #FFFFFF;
	font-size: 12px;
	padding: 5px 10px;
	text-decoration: none;
	outline: none;
}
.post-like a.done, .post-like a:hover {
	background-color: #eee;
	color: #21759B;
}
.post-like a.done {
	cursor: not-allowed;
}

/* 上一篇、下一篇 */
.turn-page {
	margin: 10px 0;
	padding: 10px;
	background: #fff;
	overflow: hidden;
}
.trun-prev {
	float: left;
	width: 50%;
	overflow: hidden;
}
.trun-prev-icon {
	color: #999;
	text-align: center;
}
.prev-post {
	display: inline-block;
	width: 100%;
	margin-top: 10px;
	text-align: center;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
	overflow: hidden;
}
.trun-next {
	float: right;
	width: 50%;
	overflow: hidden;
}
.trun-next-icon {
	color: #999;
	text-align: center;
}
.next-post {
	display: inline-block;
	width: 100%;
	margin: 10px 0;
	text-align: center;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
	overflow: hidden;
}
/* 相关文章 */
.tags_related {
	padding: 10px;
	background: #fff;
}
.tags_related li {
	padding-top: 5px;
	padding-bottom: 5px;
}
/* 评论 */
.comment-list {
	padding: 15px;
	background: #fff;
}
.comment-item {
	margin-bottom: 10px;
}
.head-image {
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 10px;
}
.head-image img {
	width: 54px;
	height: 54px;
	border-radius: 2px;
}
.comment-content {
	padding-left: 60px;
}
.comment-info {
	padding: 10px;
	background: #fbfdfb;
	border: #eee solid 1px;
	border-radius: 3px; 
}
.comment-author-name {
}
.comment-author-name a {
	color: #73bef0;
}
.comment-author-name a:hover {
	color: #09f;
}
.comment-text {
	margin-top: 10px;
	margin-bottom: 10px;
}
.comment-time {
	color: #999;
}
/* 评论-回复 */
.children {
	margin-top: 10px;
	margin-left: 60px;
}

/* ajax添加的评论 */
.commentlist {
	margin-top: 10px;
	background: #fff;
}

/* 博主 */
.host-tag {
	display: inline-block;
	width: 35px;
	height: 20px;
	margin-left: 10px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	background: #F60;
	border-radius: 5px;
}
/* 发表评论 */
#respond {
	margin-top: 10px;
	padding: 10px;
	background: #fff;
}
#respond h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 25px;
}

#submit:hover {
	background: #4a4a4a;
	cursor: pointer;
}
#commentform {
	margin: 10px 0;
}
#commentform input {
	display: inline-block;
	width: 95%;
	max-width: 300px;
	height: 35px;
	margin: 5px 0;
	padding-left: 10px;
}
#commentform input[type="text"] {
	color: #999;
}
label {
	display: inline-block;
	width: 100px;
	color: #999;
}
#comment {
	width: 100%;
	margin-top: 10px;
	padding: 10px;
	font-size: 18px;
	border-style: solid;
	border-image-width: 1px;
	box-sizing: border-box;
}
#comment:focus {
	border-color: #f00;
}
#submit {
	display: block;
	width: 100px;
	margin-top: 10px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 35px;
	border: none;
	transition: all 2s;
}
/* 评论等级 */
/*VIP评论之星*/
.vp,.vip,.vip1,.vip2,.vip3,.vip4,.vip5,.vip6,.vip7{background: url(../images/vip.png) no-repeat;display: inline-block;overflow: hidden;border: none;}
.vp{background-position:-515px -2px;width: 16px;height: 16px;margin-bottom: -3px;}
.vp:hover{background-position:-515px -22px;width: 16px;height: 16px;margin-bottom: -3px;}
.vip{background-position:-494px -3px;width: 16px;height: 14px;margin-bottom: -2px;}
.vip:hover{background-position:-494px -22px;width: 16px;height: 14px;margin-bottom: -2px;}
.vip1{background-position:-1px -2px;width: 46px;height: 14px;margin-bottom: -1px;}
.vip1:hover{background-position:-1px -22px;width: 46px;height: 14px;margin-bottom: -1px;}
.vip2{background-position:-63px -2px;width: 46px;height: 14px;margin-bottom: -1px;}
.vip2:hover{background-position:-63px -22px;width: 46px;height: 14px;margin-bottom: -1px;}
.vip3{background-position:-144px -2px;width: 46px;height: 14px;margin-bottom: -1px;}
.vip3:hover{background-position:-144px -22px;width: 46px;height: 14px;margin-bottom: -1px;}
.vip4{background-position:-227px -2px;width: 46px;height: 14px;margin-bottom: -1px;}
.vip4:hover{background-position:-227px -22px;width: 46px;height: 14px;margin-bottom: -1px;}
.vip5{background-position:-331px -2px;width: 46px;height: 14px;margin-bottom: -1px;}
.vip5:hover{background-position:-331px -22px;width: 46px;height: 14px;margin-bottom: -1px;}
.vip6{background-position:-441px -2px;width: 46px;height: 14px;margin-bottom: -1px;}
.vip6:hover{background-position:-441px -22px;width: 46px;height: 14px;margin-bottom: -1px;}
.vip7{background-position:-611px -2px;width: 46px;height: 14px;margin-bottom: -1px;}
.vip7:hover{background-position:-611px -22px;width: 46px;height: 14px;margin-bottom: -1px;}
/* ajax */
/*文章内容分页*/
.fenye {
	text-align: center;
	margin:0px auto 10px;
}
.fenye span {
	background-color: #C73503;
	color: #fff;
	font-weight: bold;
	margin: 0px 1px;
	padding: 3px 6px;
	text-decoration: none;
	border: 1px solid #D2D2D2;
}
.fenye a {
	text-decoration: none;
}
.fenye a span {
	background-color: #F6F6E8;
	font-weight: normal;
	color: #000;
	text-decoration: none;
}
.fenye a:hover span {
	background-color: #c73503;
	color: #fff;
}
@media only screen and (max-width: 800px) {
.crumb {/* 注意冲突 */
	margin-top: 0;
}
}
@media only screen and (max-width: 970px) {
}

@media only screen and (max-width: 650px) {
.main {
	width: 100%;
	min-width: 100%;
}
.side {
	display: none;
	width: 0;
}
}
/* 播放器 */
.mejs-container {
	margin: 0  !important;
	padding: 50px 50px 30px 50px !important;
	width: 100% !important;
	max-width: 500px !important;
	background: #eb7171 !important;
	box-sizing: border-box;
}
.mejs-controls {
	background: #eb7171 !important;
}
.mejs-button {
	color: #fff !important;
}
.mejs-controls .mejs-time-buffering {
	height: 5px !important;
	direction: ltr;
	width: 200px;
	padding-top: 5px;
}
.mejs-container .mejs-currenttime {
	display: none !important;
}
.mejs-duration {
	font-size: 16px !important;
}
.mejs-time-rail {
	padding-top: 10px !important;
}
.mejs-container .mejs-time-total {
	height: 4px !important;
	background: rgba(255, 255, 255, 0.5) !important;
}
.mejs-time-loaded {
	height: 4px !important;
	background: rgba(255, 255, 255, 0.5) !important;
}
.mejs-time-current {
	height: 4px !important;
	background: #fff !important;
}
.mejs-horizontal-volume-total {
	height: 4px !important;
	background: none !important;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.5) !important;
}
.mejs-horizontal-volume-current {
	height: 4px !important;
	border-radius: 5px;
	background: #fff !important;
}
.mejs-horizontal-volume-handle {
	height: 10px !important;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	background: #f00 !important;
}