@charset "utf-8";

.main {
	
}
.tag {
	min-height: 400px;
	margin-top: 10px;
	padding: 10px;
	background: #fff;
}
.tags {
	width: 100%;
	box-sizing: border-box;
	overflow: auto;
}
.tag-name {
	font-size: 30px;
	margin-bottom: 10px;
}
.tags li {
	float: left;
	width: 25%;
	padding: 5px 0;
	min-width: 30px;
	color: #999;
}
.tags li a {
	margin-right: 5px;
}
.tags li:nth-child(5n) a {
	color: #4a4a4a;
}
.tags li:nth-child(5n+1) a {
	color: #428bca;
}
.tags li:nth-child(5n+2) a {
	color: #5cb85c;
}
.tags li:nth-child(5n+3) a {
	color: #d9534f;
}
.tags li:nth-child(5n+4) a {
	color: #f0ad4e;
}
@media only screen and (max-width: 800px) {
.tag {
	margin-top: 0;
}
}
@media only screen and (max-width: 600px) {
.tags li {
	width: 50%;
}
}