/* 404页面样式 */

/* 404错误 */
.error404 {
	width: 100%;
	min-height: 200px;
	margin-top: 10px;
	padding: 10px;
	background: #fff;
	box-sizing: border-box;
}
.state-code {
	color: #999;
	font-size: 100px;
	text-align: center;
}
.tip-text {
	text-align: center;
}

/* 文章推荐 */
.recommend {
	margin-top: 10px;
	padding: 10px;
	background: #fff;
	overflow: auto;
}
.recommend li {
	float: left;
	width: 25%;
}
.recommend .post {
	margin-top: 10px;
}
.recommend .post-title {
	display: block;
	width: 95%;
	font-size: 16px;
	background: #fff;
}
.recommend .post-image {
	width: 95%;
	height: 100px;
}
@media only screen and (max-width: 500px) {
.recommend li {
	width: 50%;
}	
}