/* 登陆页面样式 */

body {
	background: #f1e5cf url(../images/themes/head_bg.jpg) no-repeat;
	background-size: 100% 100%;
}
#backtoblog {
	display: none;
}
.copyright {
	height: 100px;
	color: #fff;
	font-size: 18px;
	line-height: 100px;
	text-align: center;
	background: #d0ab65;
}
h1 a {
	border-radius: 40px;
}